.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 10px;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  top: 390px;
  left: 65px;
}

.baloon {
  position: absolute;
  z-index: 3;
  left: 250px;
  top: 140px;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 4;
  top: 185px;
  left: 269px;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 540px;
  top: 260px;
  z-index: 5;
}