        h1 {
            font-size: 65px; color: orange; font-family: sans-serif; text-align: justify;
        }
        body {
            background-color: rgba(230, 214, 214, 0.644); font-size: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 2;
        }
        #lista-nao-ordenada {
            background-color: brown; color: white;
        }
        .background-exerc-lista {
            background-color: rgb(380, 190, 150); text-align: center;
        }
        #paragrafo {
            font-weight: 600; font-size: 3em; text-align: center;
        }
        #lista-amarelo {
            background-color: yellow;
        }
        #lista-vermelho{
            background-color: red;
        }
        #lista-marrom{
            background-color: brown;
        }
